
<%- include("partials/header"); -%>

<div class="container-fluid">
    <h1 id="start">That's one small step for a man,<br>one giant leap for mankind.</h1>
    <form action="/results" class="HomePageBtn" method="POST">
        <input type="text" class="form-control" name="search" placeholder="Search For Images">
        <button class="btn btn-outline-warning btn-lg" type="submit">Take that Step</button>
    </form>
</div>


<%- include("partials/footer"); -%>